accelerate==1.6.0
aiofiles==24.1.0
aiohttp==3.10.11
aiohttp_cors==0.7.0
beautifulsoup4==4.13.4
bitsandbytes==0.45.5
boto3==1.38.3
mlx_lm==0.23.2
numpy==2.2.5
nvidia_ml_py==12.560.30
opencv_python==4.10.0.84
pandas==2.2.3
Pillow==11.2.1
plotly==6.0.1
protobuf==6.30.2
psutil==6.0.0
pyamdgpuinfo==2.1.6
pydantic==2.11.3
pygame==2.6.1
pyrsmi==0.2.0
pytest==8.3.5
regex==2024.11.6
Requests==2.32.3
rich==14.0.0
scapy==2.6.1
setuptools==79.0.1
torch==2.2.0+cu121
tqdm==4.66.4
transformers==4.46.3
uvloop==0.21.0
